extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - Sign In'

block content
  .container.has-text-centered

    h1.title.is-1 Sign In

    form.is-inline-block(method='post' autocomplete='on' action='/signin')
      .field
        label.label Email
        p.control
          input.input(type='email' autocomplete='email' name='email')
      .field
        label.label Password
        p.control
          input.input(name='password' type='password' autocomplete='password')

      .field
        p.control
          input.button.is-primary.is-fullwidth(type='submit' value='Sign In')
