extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - Sign In'

block content
  .container.has-text-centered
    .section
      .card.is-inline-block
        form(method='post' autocomplete='on' action='/signin')
          input(type='hidden' name='targetUrl' value=targetUrl)

          .card-content
            h1.title.is-3 Sign In to Your Account

            .field.has-text-left
              label.label Email
              p.control
                input.input(type='email' autocomplete='email' name='email')
            .field.has-text-left
              label.label Password
              p.control
                input.input(name='password' type='password' autocomplete='password')

          .card-content
            .field
              p.control
                input.button.is-primary.is-fullwidth(type='submit' value='Sign In')
          .card-footer
            - var signUpUrl = '/signup'
            if targetUrl
              - signUpUrl += `?targetUrl=${targetUrl}`

            a.card-footer-item(href=signUpUrl) Or create a new account?
