/* roboto-light */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto-light.woff2') format('woff2'),
  url('../fonts/roboto-light.woff') format('woff');
}
/* roboto-regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto-regular.woff') format('woff');
}
/* roboto-bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-bold.woff2') format('woff2'),
  url('../fonts/roboto-bold.woff') format('woff');
}
