extends ../layout/dashboard

block globalVars
  - var metaTitle = 'Release Notes - Organizations'
  - var pageSubtitle = 'My Organizations'
  - var activeTab = 'organizations'

block pageContent
  if !organizations || !organizations.length
    .message
      .message-body
        p You have not organizations, yet.
  else
    table.table.is-inline-block
      tr
        th Name
        th Members
      each organization in organizations
        tr
          td
            | #{organization.name}
          td #{organization.members && organization.members.length}


append content
  .hero.is-light
    .hero-body.has-text-centered
      .container
        .is-inline-block.has-text-left
          form(method='post' action='/organizations/new')
            h3.subtitle Create new Organization
            .field.has-addons
              .control
                input.input(type='text' name='name' value=(form && form.name) placeholder="org-awesome")
                if errors && errors.name
                  .help.is-danger= errors.name.msg
                .help.has-text-grey Unique organization name (only numbers, letters and dashes)
                .help.has-text-grey release-notes.com/<b>@org-awesome</b>
              .control
                input.button.is-primary.is-fullwidth(type='submit' value='Create Organization')
