footer {
  &.footer {
    padding: $footer-padding;
    border-top: 2px solid $white-ter;
  }

  .copyright {
    color: $grey-light;
    text-align: center;

    &::before {
      display: block;
      width: 7.875rem;
      height: 1px;
      margin: 3rem auto 2rem;
      background: $white-ter;
      content: "";
    }
  }

  .menu-label {
    font-size: 1rem;
    letter-spacing: 0;
  }

  .menu-list a {
    padding-left: 0;
  }

  @include touch() {
    font-size: .875rem;

    &.footer {
      padding: $footer-padding-mobile;
    }

    .menu-label {
      font-size: .875rem;
    }
  }
}
