.dashboard-page {
  .table {
    td, th {
      vertical-align: middle;
      height: 4rem;

      &:last-child {
        text-align: right;
      }

      .button {
        vertical-align: initial;
      }
    }
  }
}

.teams-page {
  .team-role {
    text-transform: capitalize;

    &:empty {
      display: none;
    }
  }
}
