$license-container-width: 48rem !default;

.mit-license {
  .license-text {
    max-width: $license-container-width;
    text-align: left;
  }

  .covered-repositories {
    max-width: $license-container-width;

    .tags {
      justify-content: center;
    }
  }
}
