extends ../layout/main

include ../includes/gist

block globalVars
  - var metaTitle = 'Release Notes - About'
  - var pageCls = 'about'

block content
  .hero.is-primary
    .hero-body
      .container.has-text-centered
        h2.subtitle.is-3 About Release Notes

  .section
    .container
      .content
        .columns
          .column.is-half-desktop.is-offset-one-quarter-desktop
            h3.subtitle.is-4 Intro
            p.
              release-notes.com is a hub for <strong>hosted changelog pages</strong>.
              You can <strong>publish release notes</strong> via cli tool or with your favourite ci/cd pipeline and our api.
              Manage your subscriptions and <strong>receive update notifications</strong>.
            h3.subtitle.is-4 Why?
            p.
              Software development is only 50% about actually writing code. Maybe even more relevant is communication.
              Release notes are the best way to manifest and communicate updates like bug fixes or release announcements.
              Providing good release notes makes it possible for other people to keep track on software changes.
            h3.subtitle.is-4 Platform
            p.
              Release Notes is an open source platform for automated release notes management around traditional CHANGELOG files
              and our generalized
              <a href="https://github.com/release-notes/release-notes-spec">Release Notes Schema Specification</a> via
              <a href="#cli-tool">CLI tools</a> and a <a href="/api">REST API</a>.
              Our <a href="https://github.com/release-notes/release-notes-node">node lib</a> is the first implementation of the
              <a href="https://github.com/release-notes/release-notes-schema">JSON schema definition</a> that should make porting libs to other languages easy.
            h3.subtitle.is-4 Getting started
            p.
              A good starting point is to subscribe to the release notes of this hub.<br><br>
              <a class="button is-small is-primary" href="/@release-notes/release-notes-hub">Subscribe to Release Notes</a>
              <br><br>
              Therefore you <a href="/signup">create an account</a> by signing up with your email address, your github or google account.
              <br><br>
              Upload your first <a href="#changelog-md">CHANGELOG.md</a> or <a href="#release-notes-yml">release-notes.yml</a> file and setup a release notes page.
              <br><br>
              <a class="button is-small is-primary" href="/publish">Publish Release Notes</a>
            h3#cli-tool.subtitle.is-4 CLI Tool
            p.
              If you like the console we have a <a href="https://github.com/release-notes/release-notes-cli">cli tool</a> for you:
            +gist('install-cli.shell')

            +gist('cli-commands.shell')

            h3.subtitle.is-4 Formats
            h4#changelog-md.subtitle CHANGELOG.md
            p.
              CHANGELOG or HISTORY files are commonly markdown files that describe changes between software versions.
              Badly, there is no CHANGELOG formatting standard, thus parsing changelogs is a real challenge.
              We try our best to support as many changelog dialects as possible.
              Check out our <a href="https://github.com/release-notes/changelog-parser">changelog parser</a> if you have any issues.
              <br><br>
              The following example changelog follows the recommendations of <a href="https://keepachangelog.com" target="_blank">keep a changelog</a>.
            p
              +gist('changelog.md')

            .has-text-centered
              i.mdi.mdi-36 !{mdi('swap-vertical')}

            h4#release-notes-yml.subtitle release-notes.yml
            p.
              In order to make changelogs hackable we came up with an evolving <a href="https://github.com/release-notes/release-notes-spec">yml schema specification</a>.
            p
              +gist('release-notes.yml')
append stylesheets
  link(rel='stylesheet' href=asset("css/vendor/highlight-js.css"))
