extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - How it works'
  - var pageCls = 'how-it-works'

block content
  .hero.is-primary
    .hero-body
      .container.has-text-centered
        h2.subtitle.is-3 How it works


  .section
    .container
      .content
        h3.subtitle.is-5 TBD
        p
          a(href="https://github.com/release-notes/release-notes-hub/blob/master/views/index/how-it-works.pug") Improve this page on GitHub.
