block signature
  footer(style='border-top: 2px solid #f5f5f5; padding: 48px;')
    center
      strong(style='color: #7a7a7a') Powered By&nbsp;
      a(href='https://release-notes.com' style='text-decoration: none; color: #7a7a7a')
        span release-notes.com
