extends ../layout/main

block globalVars
  - var pageCls = 'rn-error';

block content
  .section
    .container.has-text-centered
      img.image-error-404(src='/img/error/page-not-found.svg' alt='404 - Page not found')
      h1.title.is-1 Page not found

      p The page you are looking for doesn't exist or has been moved.

      if error.stack
        h3 Stack Trace
        pre
          code #{error.stack}
