extends ../layout/main

block globalVars
  - var pageCls = 'rn-error';

block content
  .container
    center
      h1 An error occured
      p.
        We are sorry, but we could not handle your request properly.
        Our dev team is informed and we are going to solve the issue as soon as possible.

      if error.message
        p #{error.message}

      if error.stack
        h3 Stack Trace
        pre
          code #{error.stack}
