@import "../../node_modules/bulma/sass/utilities/initial-variables";

$primary: #ed6c63;
$yellow: #ffc857;
$blue: #345995;
$link: $primary;

$footer-background-color: $white;

$menu-item-hover-background-color: transparent;
$navbar-height: 4rem;
$footer-padding: 6rem 1.5rem;
$footer-padding-mobile: 3rem 1.5rem;

/* import additional styles  */
@import "../../node_modules/bulma/sass/utilities/_all";
