extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - FAQ'
  - var pageCls = 'legal faq'

block content
  .hero.is-primary
    .hero-body
      .container.has-text-centered
        h2.subtitle.is-3 Release Notes FAQ


  .section
    .container
      .content
        h3.subtitle.is-5 TBD
        p
          a(href="https://github.com/release-notes/release-notes-hub/blob/master/views/faq/index.pug") Improve this page on GitHub.
