extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - Attribution'
  - var pageCls = 'legal attribution'

block content
  .hero.is-primary
    .hero-body
      .container.has-text-centered
        h2.subtitle.is-3 Credits & Attribution

  .container
    .columns
      .column.is-one-quarter.has-text-centered
        .section
          - var aciveLegalNote = 'credits'
          include _legal-notes-nav
      .column.is-half
        .section.is-inline-block.has-text-left
          h3.subtitle.is-5 Release Notes is build with open source components.
          .content
            span.tag.is-primary Thanks for your awesome work!

          h4.subtitle.is-6 Theme
          .content
            ul
              li bulma css framework by Jeremy Thomas
              li gulp build system by Fractal

          h4.subtitle.is-6 Icons & Fonts
          .content
            ul
              li Bird by Hea Poh Lin from the Noun Project
              li 404 Error Note by Eynav Raphael from the Noun Project
              li Material Design icons by Google
              li Roboto Webfont by Google

          h4.subtitle.is-6 Backend
          .content
            ul
              li async by Caolan McMahon
              li express by TJ Holowaychuk
              li mongoose by Guillermo Rauch
              li passport by Jared Hanson
              li pug by TJ Holowaychuk
