extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - MIT License'
  - var pageCls = 'legal mit-license'

block content
  .container.has-text-centered
    .section
      .is-inline-block
        h2.title The MIT License

        h4.subtitle Copyright (c) 2017 Alrik Zachert

        .section.applying-repositories
          h6.subtitle.is-6 The license applies to the following repositories
          .tags
            span.tag
              a(href='https://github.com/release-notes/release-notes-hub') release-notes-hub
            span.tag
              a(href='https://github.com/release-notes/release-notes-hub-dev-env') release-notes-hub-dev-env
            span.tag
              a(href='https://github.com/release-notes/release-notes-spec') release-notes-spec
            span.tag
              a(href='https://github.com/release-notes/release-notes-schema') release-notes-schema
            span.tag
              a(href='https://github.com/release-notes/release-notes-node') release-notes-node
            span.tag
              a(href='https://github.com/release-notes/release-notes-cli') release-notes-cli


        p.license-text.
          Permission is hereby granted, free of charge, to any person obtaining a copy
          of this software and associated documentation files (the "Software"), to deal
          in the Software without restriction, including without limitation the rights
          to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
          copies of the Software, and to permit persons to whom the Software is
          furnished to do so, subject to the following conditions:
          <br><br>
          The above copyright notice and this permission notice shall be included in
          all copies or substantial portions of the Software.
          <br><br>
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
          AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
          LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
          OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
          THE SOFTWARE.

