extends ../layout/main

block globalVars
  - var metaTitle = 'Release Notes - Subscriptions'

block content
  .container.has-text-centered
    .section
      h1.subtitle.is-3 Subscriptions

      .message
        .message-body
          p You have not subscriptions, yet.
